.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px auto 0;
  transition: margin 0.5s;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
    transition: margin 0.5s;
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    margin-left: auto;
    margin-right: auto;
  }
}
