.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 16);
  text-align: center;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}
