.lead__image {
  max-width: 984px;
  margin-top: 64px;
  transition: max-width 0.5s, margin 0.5s;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    max-width: 928px;
    margin-top: 56px;
    transition: max-width 0.5s, margin 0.5s;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}
