.intro__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: calc(58 / 54);
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: calc(35/32);
  }
}
